
                                        /*Annexe*/

*
{
    font-family: Raleway, Georgia, 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
}

strong
{
    font-weight: bold;
}

ul
{
    list-style-type: none;
}

i
{
    color: #0065FC;
}

img:not(.nohover):hover,
img:not(.nohover):active,
img:not(.nohover):focus,
{
    box-shadow: 2px 4px grey;       
}

a
{
    text-decoration: none;
    color: black;
}

#blockpage
{
    width: 1080px;
    margin: auto;
    background: white fixed no-repeat;
}


                                  /*RECHERCHES ET NAVIGATIONS*/

nav ul
{                                 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    font-size: 12px;
    width: 100%;
    height: 80px;
}

nav ul :nth-child(1)
{
    flex: 1;
}

nav ul :nth-child(2):hover,
nav ul :nth-child(2):active,
nav ul :nth-child(2):focus
{
    border-top: 2px #0065FC solid;
}

nav ul :nth-child(3):hover,
nav ul :nth-child(3):active,
nav ul :nth-child(3):focus
{
    border-top: 2px #0065FC solid;
}

nav li
{
    padding-top: 35px;
}

nav li:not(:first-child)
{
    display: flex;
    width: 120px;
    text-align: center;
}

.overline:not(#inscrire):hover,
.overline:not(#inscrire):active,
.overline:not(#inscrire):focus
{                      
    color: #0065FC;
}

#inscrire
{
    color: #0065FC;
    font-weight: bold;
} 

#inscrire:hover,
#inscrire:focus,
#inscrire:active
{
    color: blue;
}

                             /*h1 "Trouvez votre hébergement pour..."*/

h1
{                                       
    padding-top: 1%;
    margin: 0;
    clear: left;
    font-size: 1em;
    font-weight: bold;
}

                             /*p "En plein centre ville ou..."*/

header
{
    width: 95%;
    margin-left: 4%;
}

header p
{                                  
    margin-top: 0;
    padding-top: 0.6%;
    font-size: 0.75em;
}

                                        /*formulaire*/

form
{                                       
    width: 300px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

                                 /*conteneur icone geolocalisation*/
form label
{    
    display: flex;
    justify-content: center;
    align-items: center;                              
    border-radius: 12px 0 0 12px;
    height: 40px;
    width: 13%;
    background-color: #f2f2f2;
}

form label i
{
    color: black;
    font-size: 14px;
}
                                      /*champs de recherche*/
form :nth-child(2)
{                         
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
    height: 40px;
    width: 57%;
    font-size: 13px;
    font-weight: bold;
    padding-left: 3%;
    color: black;
}
                                      /*bouton de recherche*/
.form_submit
{                         
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 12px 12px 0;
    height: 40px;
    width: 30%;
    font-size: 13px;
    font-weight: bold;
}

.form_submit:hover,
.form_submit:active,
.form_submit:focus
{
    background-color: blue;
}

.loupe 
{
    display: none;
}

                                       /*Conteneur filtres*/
.filters
{                                  
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    font-weight: bold;
    font-size: 13px;
    margin-top: 2%;
    padding-left: 0;
}

.filters li
{                               
    display: flex;                          
    justify-content: flex-start;
    align-items: center;                           
    height: 35px;
    border: 2px #f2f2f2 solid;
    border-left: none;
    border-radius: 35px;
}

.filters li strong
{
    padding-left: 5%;
}
        
.filters li:not(:first-child):hover,
.filters li:not(:first-child):active,
.filters li:not(:first-child):focus
{
    background-color: #deebff;       
}
                                        
.filters li:nth-child(1)
{               
    border: none;
    padding: 0;
    width: 50px;
}
                                        
.filters li:nth-child(2)
{            
    width: 134px;
}

.filters li:nth-child(3)
{
    width: 104px;
}

.filters li:nth-child(4)
{
    width: 131px;
}

.filters li:nth-child(5)
{
    width: 174px;
}
                                   
.filters i
{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;                    
    border: 1px solid #deebff;
    border-radius: 35px;
    background-color: #deebff;
    font-size: 16px;
}

.filters + p
{
    max-width: 335px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

                                /*icone INFO*/
p i:not(.block i)
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    width: 18px;
    height: 18px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    background-color: white;
}

                                       /*HEBERGEMENTS*/

                                /*Flexbox sur "hébergements et populaires"*/    
.block
{
    display: flex; 
    margin-top: 2%;
    margin-left: 4%;                 
}

section
{                           
    width: 650px;
    height: 485px;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 3%;
}

section h3
{
    font-weight: bold;
    font-size: 1em;
    margin: 0;
    margin-left: 5%;
    margin-top: 3%;
    width: 100%;
}

section h4
{                         
    margin: 0;
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 5%;
    margin-top: 1%;
}

section p
{
    font-size: 0.6em;                  
    padding-left: 5%;
    padding-top: 2%;
    margin: 0;
}

#stars
{
    font-size: 0.55em;
    padding-left: 5%;
    padding-top: 3%;
}

.ele1 i:last-child, .ele3 i:last-child, .ele5 i:last-child
{
    color: #f2f2F2;
}

.ele4 i:nth-child(4)
{
    color: #f2f2f2;
}

.ele4 i:last-child
{
    color: #f2f2f2;
}

                                    /*conteneurs cases, images et descriptions*/
.ele1, .ele2, .ele3
{             
    width: 180px;
    height:145px;
    border: 4px solid white;
    border-radius: 15px;
    background-color: white;
    margin: 0;
    padding: 0;
}

.ele1, .ele4
{
    margin-left: 3%;
}

.ele3, .ele6
{
    margin-right: 3%;
}

.ele4, .ele5, .ele6
{
    width: 180px;
    height: 145px;
    border: 4px solid white;
    border-radius: 15px;
    background-color: white;
}

.afficher
{
    font-size: 0.85em;
    width: 100%;
    height: 1em;
    font-weight: bold;
    margin-bottom: 4%;
    margin-left: 5%;
    padding: 0;
}

section img
{
    width: 100%;
    height: 90px;
    border-radius: 12px 12px 0px 0px;
}

                                                /*POPULAIRES*/                                                    
aside
{                             
    width: 325px;
    height: 485px;
    background-color: #f2f2f2;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pop
{
    display: flex;
    justify-content: space-between;
    width: 270px;
    height: 1em;
    font-weight: bold;
    font-size: 1em;
    padding-top: 5%;
    margin: 0;
}

.pop i
{
    color: black;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
                                    /*conteneur cases img et descriptions*/
.ele7, .ele8, .ele9
{  
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;              
    width: 260px;
    height: 104px;
    border: 4px solid white;
    border-radius: 15px;
    background-color: white;
}

.ele9
{
    margin-bottom: 6%;
}

.imgaside
{                      
    width: 100px;
    height: 104px;
    border-radius: 12px 0 0 12px;
}

aside a
{
    width: 100px;
    height: 104px;
}

aside h4
{
    width: 135px;
    font-size: 0.8em;
    margin: 0;
    padding-top: 1%;
}

aside p
{
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    padding-bottom: 10%;
}

.stars2
{
    font-size: 0.55em;
    padding-bottom: 1%;
}

.ele8 i:last-child, .ele9 i:last-child
{
    color: #f2f2F2;
}

                                        /*ACTIVITES*/

.last
{                      
    width: 1037px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 4%;
    margin-bottom: 5%;
}

.last h3
{
    margin: 0;
    padding-top: 5.5%;
    width: 200px;
    height: 1em;
    font-weight: bold;
    font-size: 1em;
}

.last p
{
    margin: 0;
    font-size: 0.8em;
    padding-top: 4%;
    padding-left: 5%;
}

                                 /*cases et img*/
.ele10
{
    width: 228px;
    height: 340px;
    border-radius: 15px;
    box-shadow: 15px 15px 15px #f2f2f2;
}

.ele10 img
{
    width: 100%;
    height: 298px;
    border-radius: 15px 15px 0 0;
}

.ele11
{
    width: 228px;
    height: 180px;
    border-radius: 15px;
    box-shadow: 15px 15px 15px #f2f2f2;
    margin-top: 8.9%;
}

.ele11 img
{
    width: 100%;
    height: 137px;
    border-radius: 15px 15px 0 0;
}

.ele12
{
    width: 228px;
    height: 130px;
    border-radius: 15px;
    box-shadow: 15px 15px 15px #f2f2f2;
}

.ele12 img
{
    width: 100%;
    height: 87px;
    border-radius: 15px 15px 0 0;
}

.ele13
{
    width: 228px;
    height: 340px;
    border-radius: 1em;
    box-shadow: 15px 15px 15px #f2f2f2;
    margin-top: 8.9%;
}

.ele13 img
{
    width: 100%;
    height: 298px;
    border-radius: 15px 15px 0 0;
}

.ele14
{
    width: 228px;
    height: 150px;
    border-radius: 1em;
    box-shadow: 15px 15px 15px #f2f2f2;
    margin-top: 8.9%;
}

.ele14 img
{
    width: 100%;
    height: 108px;
    border-radius: 15px 15px 0 0;
}

.ele15
{
    width: 228px;
    height: 161px;
    border-radius: 15px;
    box-shadow: 15px 15px 15px #f2f2f2;
}

.ele15 img
{
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

                                                   /*FOOTER*/
footer
{
    margin: auto;
    margin-bottom: 2%;
    width: 1080px;                     
    height: 160px;
    background-color: #f2f2F2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

footer h3
{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 2.5%;
}

footer ul
{
    font-size: 12px;
    padding: 0;
    width: 300px;
    height: 130px;
    margin-left: 3.8%; 
}

footer li
{
    padding: 5px;
}


                            /*@MEDIA Telephone*/

@media all and (max-device-width: 414px)
{
    body
    {
        margin: 0;
    }

    #blockpage
    {
        max-width: 414px;
        margin: 0;
        padding: 0;
    } 

    HTML
    {
        overflow-x: hidden;
    }

    header
    {
        margin: 0;
    }

    nav
    {
        width: 100%;
    }

    nav ul
    {
        justify-content: space-around;
        padding: 0;
        width: 260px;
        height: 100%;
        margin: auto;
        flex-wrap: wrap;
        border-bottom: 2px #f2f2f2 solid;
    }

    nav li
    {
        padding-top: 7.5%;
    }

    nav ul :nth-child(1)
    {
        order: 1;
        padding-left: 0.5%;
    }

    nav ul :nth-child(2)
    {
        order: 3;
        padding-bottom: 2%;
        padding-left: 0;
    }

    nav ul :nth-child(2):hover,
    nav ul :nth-child(2):active,
    nav ul :nth-child(2):focus
    {
        border-top: none;
        border-bottom: 2px #0065FC solid;
        height: 21px;
        width: 130px;
    }

    
    nav ul :nth-child(3)
    {
        order: 4;
        padding-bottom: 2%;
        padding-left: 0;
    }

    nav ul :nth-child(3):hover,
    nav ul :nth-child(3):active,
    nav ul :nth-child(3):focus
    {
        border-top: none;
        border-bottom: 2px #0065FC solid;
        height: 21px;
        width: 130px;
    }

    
    nav ul :nth-child(4)
    {
        order: 2;
        padding-right: 3%;
        text-align: end;
    }

    .overline:not(#inscrire):hover,
    .overline:not(#inscrire):active,
    .overline:not(#inscrire):focus
    {           
        color: #0065FC;
    } 

    h1
    {
        width: 250px;
        margin: auto;
        padding-top: 7%;
    }

    header p
    {
        margin: auto;
        width: 250px;
        font-size: 12px;
        padding-top: 3%;
    }

    header p i
    {
        padding-right: 3px;
    }

    form
    {
        justify-content: flex-start;
        width: 260px;
        margin: auto;  
        padding-top: 7%;  
    }

    form :nth-child(1) 
    {
        width: 20%;
    }

    form :nth-child(2) 
    {
        width: 85%;
    }

    .form_submit 
    {
        display: none;
    }
                                        
    .loupe 
    {
        display: flex;
        border: none;
        background-color: #0065FC;
        border-radius: 12px;
        height: 40px;
        width: 18%;
        font-size: 13px;
        font-weight: bold;
        margin-left: -10px;
    }

    .loupe i 
    {
        color: white;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        padding: 2px;
        margin-top: 10px;
    }

    .filters
    {
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 265px;
        margin: auto;
        padding-top: 6%;
        padding-left: 5%;
    }

    .filters li
    {
        margin-top: 10px;
    }

    .filters li:nth-child(1)
    {
        width: 100%; 
        height: 15px;
        margin: 0;
        font-size: 14px;
    }

    .filters li:nth-child(3)
    {
        margin-left: 3%;
    } 

    .filters + p
    {
        max-width: 335px;
        margin: auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 7%;
        padding-bottom: 6%;
    }
    
                                    /*icone INFO*/
    p i:not(.block i)
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.75em;
        width: 18px;
        height: 18px;
        border: 1px solid #f2f2f2;
        border-radius: 10px;
        background-color: white;
        margin-right: 3%;
    }

    .block
    {
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }

    section
    {
        width: 80%;
        height: 1100px;
        background-color: white;
        margin: 0;
    }

    section h3
    {
        margin-left: 14%;
        margin-top: 7%;
    }

    .ele1, .ele2, .ele3, .ele4, .ele5, .ele6
    {
        width: 258px;
        height: 145px;
        box-shadow: 2px 2px 8px #f2f2f2;
        margin: 0;
        padding: 0;
    }

    .afficher
    {
        margin-left: 15%;
        padding-top: 5%;
    }
    
    aside
    {
        height: 500px;
        width: 80%;
        border-radius: 0px;
    }

    aside h3
    {
        padding-top: 4%;
        margin-left: 5%;
    }

    .last
    {
        flex-wrap: nowrap;
        align-items: center;
        width: 80%;
        height: 1020px;
        margin-bottom: 12%;
        margin: auto;
    }

    .last h3
    {
        margin-top: 2%;
        margin-bottom: 0;
        margin-left: 28%;
        width: 100%;
        height: 20px;
        font-weight: bold;
        font-size: 16px;
    }

    .ele10, .ele11, .ele12, .ele13, .ele14, .ele15
    {
        width: 258px;
        height: 145px;
        border-radius: 15px;
        border: 1px #f2f2f2 solid;
        box-shadow: 2px 2px 8px #f2f2f2;
        margin: 0;
        padding: 0;
    }

    .last img
    {
        height: 105px;
    }

    footer
    {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 400px;
        width: 80%;
        padding-top: 25px;
        margin-top: 10%;
    }

    footer ul
    {
        margin: 0;
        padding-left: 11%;
    }
   
    footer :nth-child(3)
    {
        margin-right: 0;
    }

}

                             /*@media tablette*/

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px)
{
    #blockpage
    {
        min-width: 600px;
        max-width: 1024px;
        padding-left: 25vw;
    }

    HTML
    {
        overflow-x: hidden;
    }

    nav ul
    {
        width: 53%;
    }

    nav li:not(:first-child)
    {
        width: 90px;
    }

    header
    {
        margin-left: 1%;
    }

    .filters
    {
        width: 54%;
        flex-wrap: wrap;
    }

    .filters li strong
    {
        padding-left: 2%;
    }

    .filters li:nth-child(1)
    {               
        border: none;
        padding: 0;
        width: 100%;
    }
                                       
    .filters li:nth-child(2)
    {            
        width: 125px;
    }

    .filters li:nth-child(3)
    {
        width: 95px;
    }

    .filters li:nth-child(4)
    {
        width: 122px;
    }

    .filters li:nth-child(5)
    {
        width: 163px;
    }

    .block
    {
        margin-left: 0;
        flex-direction: column-reverse;
    }

    section
    {
        width: 50%;
        height: 600px;
        margin-left: 2%;
        margin-top: 2%;
    }

    section h3
    {
        margin-left: 8%;
    }

    .afficher
    {
        margin-left: 8%;
    }

    .ele1, .ele2, .ele3, .ele4, .ele5, .ele6
    {
        margin: 0;
        padding: 0;
    }

    .ele1, .ele3, .ele5
    {
        margin-left: 6%;
    }

    .ele2, .ele4, .ele6
    {
        margin-right: 6%;
    }

    aside
    {
        width: 50%;
        height: 580px;
        margin-left: 2%;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .imgaside
    {
        width: 100%;
        height: 100%;
    }

    aside a
    {
        width: 40%;
        height: 100%;
    }

    .pop
    {
        width: 77%;
        margin-left: 8%;
        padding-top: 2%;
    }

    .ele7, .ele8, .ele9
    {
        width: 70%;
        height: 145px;
        margin: auto;
    }

    aside h4{
        font-size: 0.8em;
        padding-top: 1%;
        margin-right: 20%;
    }
    
    .last
    {
        width: 50%;
        height: 600px;
        flex-direction: row;
        margin-left: 2%;
        margin-bottom: 3%;
    }
    
    .last h3
    {
        width: 100%;
        margin-left: 8%;
        padding-top: 10%;
    }

    .ele10, .ele11, .ele12, .ele13, .ele14, .ele15
    {
        width: 240px;
        height: 145px;
        border-radius: 15px;
        border: 1px #f2f2f2 solid;
        box-shadow: 2px 2px 8px #f2f2f2;
        margin: auto;
        padding: 0;
    }

    .last img
    {
        height: 105px;
    }

    footer
    {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 270px;
        width: 50%;
        margin-left: 2%;
    }

    footer ul
    {
        margin: 0;
        padding-left: 3%
    }
   
    footer :nth-child(3)
    {
        margin-right: 0;
    }


}